In [1]:
# Importing required software packages
import pandas as pd
import os
import ixmp
import message_ix
from plotter import plotter

In [2]:
#%% Setup IXMP
mp = ixmp.Platform()
scenlist = mp.scenario_list()
mp.open_db()

In [3]:
#%% clonning new scenario
model = 'MESSAGEix_KR'
scen = 'baseline'
base = message_ix.Scenario(mp, model=model, scenario = scen, version=1)
scenario = base.clone(model, 'Demand_management', 'uing LP', keep_solution=False)
scenario.check_out()

In [23]:
KR_demand = scenario.par('demand')

In [24]:
KR_demand

     node  commodity   level  year  time      value   unit
0   Korea     i_feed  useful  2015  year  62.049900  GWa/a
1   Korea     i_feed  useful  2020  year  65.189836  GWa/a
2   Korea     i_feed  useful  2025  year  64.731326  GWa/a
3   Korea     i_feed  useful  2030  year  64.273888  GWa/a
4   Korea     i_feed  useful  2035  year  63.872156  GWa/a
..    ...        ...     ...   ...   ...        ...    ...
93  Korea  transport  useful  2060  year  59.110425  GWa/a
94  Korea  transport  useful  2070  year  61.416355  GWa/a
95  Korea  transport  useful  2080  year  63.129826  GWa/a
96  Korea  transport  useful  2090  year  64.562726  GWa/a
97  Korea  transport  useful  2100  year  65.650385  GWa/a

[98 rows x 7 columns]

In [26]:
# demand reduction 
def demand(row) :
    if row['year'] == 2015:
        return row['value']*1
    if row['year'] == 2020:
        return row['value']*0.90
    if row['year'] == 2025:
        return row['value']*0.90
    if row['year'] == 2030:
        return row['value']*0.90
    if row['year'] == 2035:
        return row['value']*0.90
    if row['year'] == 2040:
        return row['value']*0.90
    if row['year'] == 2045:
        return row['value']*0.90
    if row['year'] == 2050:
        return row['value']*0.90 
    if row['year'] == 2055:
        return row['value']*0.90
    if row['year'] == 2060:
        return row['value']*0.90
    if row['year'] == 2070:
        return row['value']*0.90
    if row['year'] == 2080:
        return row['value']*0.90
    if row['year'] == 2090:
        return row['value']*0.90
    if row['year'] == 2100:
        return row['value']*0.90

In [27]:
KR_demand ['value']= KR_demand .apply(demand, axis='columns')

In [28]:
KR_demand
# KR_demand.to_excel('demand.xlsx')

     node  commodity   level  year  time      value   unit
0   Korea     i_feed  useful  2015  year  62.049900  GWa/a
1   Korea     i_feed  useful  2020  year  58.670853  GWa/a
2   Korea     i_feed  useful  2025  year  58.258194  GWa/a
3   Korea     i_feed  useful  2030  year  57.846499  GWa/a
4   Korea     i_feed  useful  2035  year  57.484940  GWa/a
..    ...        ...     ...   ...   ...        ...    ...
93  Korea  transport  useful  2060  year  53.199382  GWa/a
94  Korea  transport  useful  2070  year  55.274719  GWa/a
95  Korea  transport  useful  2080  year  56.816843  GWa/a
96  Korea  transport  useful  2090  year  58.106453  GWa/a
97  Korea  transport  useful  2100  year  59.085347  GWa/a

[98 rows x 7 columns]

In [29]:
scenario.add_par('demand',KR_demand )

In [31]:
scenario.commit(comment="reducing demand")

In [32]:
scenario.solve(solve_options={'lpmethod': '4'})

In [34]:
emission = scenario.var('EMISS')

In [37]:
emission.to_excel('emissions.xlsx')

In [38]:
mp.close_db()